<div class="sidebar-module sidebar-module-inset">
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation"><a href="/articles">Articles</a></li>
    <li role="presentation"><a href="/authors">Authors</a></li>
  </ul>
</div>

<div class="sidebar-module sidebar-module-inset">
  <% if logged_in? %>
      <%= "Logged in as #{current_user.username}" %></br>
      <%= link_to 'Log out', logout_path %>
  <% else %>
      <%= 'Logged out' %></br>
      <%= link_to 'Log in', login_path %>
  <% end %>
</div>